<?xml version='1.0'?>
<?Server list for login server?>
<WorldConfig>
    <world>
        <id>1</id>
        <name>Saga1</name>
        <?IP address of SQL/db4o server or Path to Save for dat implementation?>
        <dbhost>127.0.0.1</dbhost>

        <!-- 
        Database mode,
        0:db4o 
        1:MySQL 
        2:Dat
        3:MSSQL
        -->
        <ifSQL>1</ifSQL>
        <dbport>3306</dbport>

        <dbname>saga</dbname>
        <dbuser>saga</dbuser>
        <dbpass>saga</dbpass>
    </world>

</WorldConfig>