<?xml version="1.0" encoding="utf-8" ?>
<SagaGateway>
  <host>127.0.0.1</host>
  <port>65000</port>
  <loginserver>127.0.0.1</loginserver>
  <loginport>6000</loginport>
  <!-- 
       Total number of live workers
       Default by 5. Increase this to support more players
   -->
  <Connections>5</Connections>

  <!-- 
            Info = 1,
            Warning = 2,
            Error = 4,
            SQL = 8,
            Debug = 16       
  -->
  <LogLevel>31</LogLevel>

  <BANNED_IP>
    <!-- 
    <IP>127.0.0.001</IP>
    -->
  </BANNED_IP>
  
  <!-- Client Version CRC check: -->
  <!-- CRC_KEY should be a 20 bytes Hex. string -->
  <!-- Once CRC_KEY got changed, keys in ALLOWED_CRC should be changed, too -->
  <CRC_KEY>A928CDC9DBE8751B3BC99EB65AE07E0C849CE739</CRC_KEY>
  <ALLOWED_CRC>
    <!-- No key means all versions of client are allowed to connect -->
    <!-- More keys supported -->
    <!-- Version CRC Key for kRO2 v66 
    <CRC>BE6ED3C5F923072EA91C43EB2F02B2BEE16D3BF1</CRC>-->
    <!-- Version CRC Key for kRO2 v68 
    <CRC>FA0AE6C542F8A30311B2860CEC255B2B99D2CB53</CRC>-->
    <!-- Version CRC Key for kRO2 v73 -->
    <CRC>2B9F3A4C0A2537DDAC200624A9EDE50C12B75F17</CRC>
    <!-- Version CRC Key for kRO2 v77 -->
    <CRC>84AC9C76A35EA122640021260EA7B9D4F392D190</CRC>
    <!-- Version CRC Key for kRO2 v81 -->
    <CRC>EDD187AE35CD507C041323B0397F1F22C4F3F640</CRC>
    <!-- Version CRC Key for kRO2 v101 -->
    <CRC>D718E51F41AB15491D63C5688B5B07EBDBE93371</CRC>
    <!-- 
     <CRC>CRC_KEY 2</CRC>
     -->
  </ALLOWED_CRC>
</SagaGateway>