<?xml version="1.0"?>
<SagaLogin>
  <host>127.0.0.1</host>

  <!-- address of SQL/db4o server or Path to Save for dat implementation-->
  <dbhost>127.0.0.1</dbhost>
  
  <!-- database name for SQL -->
  <dbname>sagalogin</dbname>

  <!-- port for databaser server(SQL or db4o) -->
  <dbport>3306</dbport>

  <!-- 
            Info = 1,
            Warning = 2,
            Error = 4,
            SQL = 8,
            Debug = 16       
  -->
  <LogLevel>31</LogLevel>

  <!-- 
  Database mode,
  0:db4o 
  1:MySQL 
  2:Dat
  3:MSSQL
   -->
  <ifSQL>1</ifSQL>

  <dbuser>saga</dbuser>
  <dbpass>saga</dbpass>

  <!-- port for login server -->
  <port>6000</port>

  <!-- if no db4oserver then use this file to store inforamtions,db4o mode only -->
  <userdbfile>char.db</userdbfile>
  <chardbfile>char.db</chardbfile>

  <mapserverpass>secret</mapserverpass>
</SagaLogin>