<?xml version="1.0"?>
<SagaMap>

  <host>127.0.0.1</host>
  <port>3011</port>

  <?IP address of SQL/db4o server or Path to Save for dat implementation?>
  <dbhost>127.0.0.1</dbhost>

  <?database name in SQL server?>
  <dbname>saga</dbname>

  <dbport>3306</dbport>

  <!-- 
            Info = 1,
            Warning = 2,
            Error = 4,
            SQL = 8,
            Debug = 16       
  -->
  <LogLevel>31</LogLevel>

  <!-- 
  Database mode,
  0:db4o 
  1:MySQL 
  2:Dat
  3:MSSQL
   -->
  <ifSQL>1</ifSQL>

  <dbuser>saga</dbuser>
  <dbpass>saga</dbpass>

  <loginserverhost>127.0.0.1</loginserverhost>
  <loginserverport>6000</loginserverport>
  <loginserverpass>secret</loginserverpass>

  <?Server name?>
  <worldname>Saga1</worldname>

  <?Maps that are hosted by this map server?>
  <hostedmap>1</hostedmap>
  <hostedmap>2</hostedmap>
  <hostedmap>3</hostedmap>
  <hostedmap>4</hostedmap>
  <hostedmap>5</hostedmap>
  <hostedmap>6</hostedmap>
  <hostedmap>7</hostedmap>
  <hostedmap>8</hostedmap>
  <hostedmap>9</hostedmap>
  <hostedmap>10</hostedmap>
  <hostedmap>11</hostedmap>
  <hostedmap>12</hostedmap>
  <hostedmap>13</hostedmap>
  <hostedmap>14</hostedmap>
  <hostedmap>15</hostedmap>
  <hostedmap>16</hostedmap>
  <hostedmap>17</hostedmap>
  <hostedmap>18</hostedmap>
  <hostedmap>19</hostedmap>
  <hostedmap>20</hostedmap>
  <hostedmap>21</hostedmap>
  <hostedmap>22</hostedmap>
  <hostedmap>23</hostedmap>
  <hostedmap>24</hostedmap>
  <hostedmap>25</hostedmap>
  <hostedmap>26</hostedmap>
</SagaMap>